<p id="notice"><%= notice %></p>

<h1>User Holidays</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Holiday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_holidays.each do |user_holiday| %>
      <tr>
        <td><%= user_holiday.user_id %></td>
        <td><%= user_holiday.holiday_id %></td>
        <td><%= link_to 'Show', user_holiday %></td>
        <td><%= link_to 'Edit', edit_user_holiday_path(user_holiday) %></td>
        <td><%= link_to 'Destroy', user_holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Holiday', new_user_holiday_path %>
