<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<p>
  <strong>Date as:</strong>
  <%= @holiday.date_as %>
</p>

<p>
  <strong>Regional:</strong>
  <%= @holiday.regional %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
